.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px minmax(200px, 1fr) 100px; 
    grid-auto-rows: minmax(150px, auto);
    /* gap: 10px; */
    grid-template-areas: 
       "header" 
       "playerOne" 
       "board"
       "playerTwo";
       /* "footer"; */
 }

 header {
    grid-area: header;
    background-color: grey;
 }

 main {
    grid-area: board;
    background-color: aliceblue;
    padding-top: 20px;
 }

 aside {
    grid-area: playerOne;
    background-color: orange;
    margin-right: 1em;
    
 }
 
 nav {
    grid-area: playerTwo;
    background-color: blue;
    margin-left: 1em;
    
 }

 .board-btn {
     height: 6em;
     background-color: black;
 }

button.orange { 
    background-color: orange; 
}

button.blue { 
    background-color: blue; 
}

button.green { 
    background-color: green; 
}

button.red { 
    background-color: red; 
}

.labelScore {
    font-size: 1.5em;
    color: white;
    font-weight: bolder;
    padding: 10px 0 0 10px;
}

/* #newGameBtn {
    padding: 0 10%;
} */

  /* .containerBoard {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 300px minmax(200px, 1fr) 100px; 
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas: 
    "board-btn";
 }

 .board-btn {
    grid-area: board-B;
 }

 .containerBoard {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(50px, auto) minmax(50px, auto) minmax(50px, auto);
    grid-template-areas: 
     "board-B board-B board-B"
     "board-B board-B board-B" 
     "board-B board-B board-B";
 } */

 .container {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: minmax(50px, auto) minmax(150px, auto) minmax(150px, auto);
    /* minmax(50px, auto); */
    grid-template-areas: 
    "header header header" 
    "playerOne board playerTwo"
    "playerOne board playerTwo";
    /* "footer footer footer"; */
 }

  /* footer {
    grid-area: footer;
    background-color: rgb(3, 3, 3);
    color: white;
 } */